@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Kanit', sans-serif; */
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 400;
  color: #cccccc;
}
html, body{
  
}
body{
  background-size: 100% auto;
  background-position: center bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #9b9995;
  background-image: url("/background-05.jpg");

  /* background: #eeeeee; */
  /* background-image: url("/sportsoccer-stadiu.jpg"); */
  /* background-image: url("/background-04.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-top: center top; */
  /* background-size: 100% auto; */ 
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #ff0505;
  text-decoration: none;
}

* { box-sizing: border-box; }
:focus { outline: none; }
h1 {  font-size: 22px;  }
h2 {  font-size: 20px;  }
h3 {  font-size: 18px;  }
h4 {  font-size: 16px;  }
h5 {  font-size: 14px;  }
.h-445px {
  height: 445px;
}
.h-70px {
  height: 70px;
}
.h-100px {
  height: 100px;
}
.h-200px {
  height: 200px;
}
.text-ss {
  font-size: 14px;
}
.w-10 {
  width: 10% !important;
}
.w-20 {
  width: 20% !important;
}
.w-80 {
  width: 80% !important;
}
.h-90px {
  height: 90px;
}
.w-50px {
  width: 50px;
  max-width: 50px;
}
.pointer {
  cursor: pointer;
}

.navbar .container{
  
}
.navbar{
  padding: 1rem 1rem;
}
.navbar-brand{
  width: 200px;
}
.navbar-nav{
  margin-top: 15px;
}

#navbarsExample07{
  text-align: right;
  /* float: right; */
}
.navbar-brand img{display: block; max-width: 100%; height: auto;}


.side-heading{
  background: #710000;
  background: -moz-linear-gradient(0deg, #710000 0%, #af0000 100%);
  background: -webkit-linear-gradient(0deg, #710000 0%, #af0000 100%);
  background: linear-gradient(0deg, #710000 0%, #af0000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#710000",endColorstr="#af0000",GradientType=1);
  color: #ffffff;
  border-bottom: 1px solid #000000;
  border-top: 2px solid #cc2f2f;
}
.footer-top{
  background: #000000;
}
/* ============ sidebar ============  */
.sidebar-box  .bd-toc-link{
  display: block;
  padding: .65rem 1.5rem;
  font-weight: 600;
}
.bd-sidenav li{
  border-bottom: 1px solid #5f5f5f;
  border-left: 1px solid #5f5f5f;
  border-right: 1px solid #5f5f5f;
  display: block;
  flex: 0 0 100%;
}
.bd-sidenav li a{
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #eeeeee;
  background: #111111;
  font-size: 0.9em;
}
.bd-sidenav li a:hover{ background: #555555;}
.bd-sidenav li a span{ margin-right: .8rem !important;}
/* ============ sidebar ============  */

.mainf-tab{
  
}
.d-md-block .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  position: relative;
  background: transparent;
  font-weight: bold;
  font-size: 1.1em;
}
.mainf-tab .nav-pills{
  background: rgb(29,29,29);
  background: -moz-linear-gradient(0deg, rgba(29,29,29,1) 0%, rgba(85,85,85,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(29,29,29,1) 0%, rgba(85,85,85,1) 100%);
  background: linear-gradient(0deg, rgba(29,29,29,1) 0%, rgba(85,85,85,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d1d1d",endColorstr="#555555",GradientType=1);
  margin-bottom: 5px !important;
}
.mainf-tab .nav-pills .nav-link.active{
background: rgb(205,205,205);
background: -moz-linear-gradient(0deg, rgba(205,205,205,1) 0%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(205,205,205,1) 0%, rgba(255,255,255,1) 100%);
background: linear-gradient(0deg, rgba(205,205,205,1) 0%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdcdcd",endColorstr="#ffffff",GradientType=1);
  color: #111111;
}
.d-md-block .nav-pills .nav-link.active:before{
  content: "";
  display: block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid red;
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: -5px;
  margin-left: -5px;
}
.d-md-block .nav-pills .nav-link.active:after{
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid red;
  position: absolute;
  left: 50%;
  bottom: -5px;
  margin-left: -5px;
  
}
.league-matches .text-score{
  color: #ffffff;
  font-weight: bold;
}
.league-matches .block-title{
  text-transform: uppercase;
  background: #212121;
  display: block;
  color: #ffffff;
  line-height: 120%;
  padding: 12px 15px;
  border-bottom: 3px solid #4c4c4c;
  margin: 0px;
  font-size: 0.9em;
  position: relative;
  font-weight: bold;
}
#top .navbar .container .header-inner{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.container, .container-xl{
  /* background: rgba(0,0,0,0.6); */
  background: #000000;
}
#top{
  background: #000;
}
h1, h2, h3, h4, h5{ color: #ffffff;}
@media  screen and (min-width: 720px){
  #top{
    background: transparent;
  }
  .container{
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
  }
  footer .container{
    border-left: 0px;
    border-right: 0px;
  }
  .sidebar-box > .banner{ margin-top: 0px;}
  #top .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #top .container{
    padding-left: 0px;
    padding-right: 0px;
  }
  #top .navbar .container .header-inner {
    padding: 30px 20px;
    background: rgb(40,40,40);
    background: -moz-linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(6,6,6,1) 35%, rgba(54,54,54,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(6,6,6,1) 35%, rgba(54,54,54,1) 100%);
    background: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(6,6,6,1) 35%, rgba(54,54,54,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#282828",endColorstr="#363636",GradientType=1);
    border-bottom: 1px solid #777777;
  }
  .header-inner .navbar-nav li a:hover{
    color: #e52727;
  }
  .header-inner .navbar-nav  li.active a{
    color: #ffffff;
    background: #aa0000;
    border-radius: 3px;
  }
  .container, .container-xl{
    /* background: rgba(0,0,0,0.6); */
    background: #000000;
  }
}
.navbar-toggler{
  background: #ffffff;
}
 
#top .shadow-sm{
  box-shadow: none !important;
}
.mainf-tab .mb-4{margin-bottom: 2px !important;}
.mainf-tab > div .league-matches{
  border-left: 3px solid #444444;
}
.mainf-tab > div:nth-child(3) .league-matches{ border-left: 2px solid #e21d25; }
.mainf-tab > div:nth-child(3) .league-matches .block-title{ background: #e21d25 !important;}
.mainf-tab > div:nth-child(4) .league-matches{ border-left: 2px solid #458cc1; }
.mainf-tab > div:nth-child(4) .league-matches .block-title{ background: #458cc1 !important;}
.mainf-tab > div:nth-child(5) .league-matches{ border-left: 2px solid #fec936;}
.mainf-tab > div:nth-child(5) .league-matches  .block-title{ background: #fec936  !important; color: #222222 !important;}
.mainf-tab > div:nth-child(6) .league-matches{ border-left: 2px solid #006633;}
.mainf-tab > div:nth-child(6) .league-matches .block-title{ background: #006633  !important;}
.mainf-tab > div:nth-child(7) .league-matches{ border-left: 2px solid #d23600;}
.mainf-tab > div:nth-child(7) .league-matches .block-title{ background: #d23600  !important;}
.mainf-tab > div:nth-child(8) .league-matches{ border-left: 2px solid #53d689;}
.mainf-tab > div:nth-child(8) .league-matches .block-title{ background: #53d689  !important; color: #222222 !important;} 
.mainf-tab > div:nth-child(9) .league-matches{ border-left: 2px solid #7129cc;}
.mainf-tab > div:nth-child(9) .league-matches .block-title{ background: #7129cc  !important;}
.mainf-tab > div:nth-child(10) .league-matches{ border-left: 2px solid #f7ff00;}
.mainf-tab > div:nth-child(10) .league-matches .block-title{ background: #f7ff00  !important;color: #222222 !important;}
.mainf-tab > div:nth-child(11) .league-matches{ border-left: 2px solid #00e72c;}
.mainf-tab > div:nth-child(11) .league-matches .block-title{ background: #00e72c  !important; color: #222222 !important;}
.mainf-tab > div:nth-child(12) .league-matches{ border-left: 2px solid #00ced2;}
.mainf-tab > div:nth-child(12) .league-matches .block-title{background: #00ced2  !important;}
.mainf-tab > div:nth-child(13) .league-matches{ border-left: 2px solid #fbff00;}
.mainf-tab > div:nth-child(13) .league-matches .block-title{ background: #fbff00  !important;color: #222222 !important;}
.mainf-tab > div:nth-child(14) .league-matches{ border-left: 2px solid #79aafc;}
.mainf-tab > div:nth-child(14) .league-matches .block-title{ background: #79aafc  !important;}
.mainf-tab > div:nth-child(15) .league-matches{ border-left: 2px solid #ff9437;}
.mainf-tab > div:nth-child(15) .league-matches .block-title{ background: #ff9437  !important;}
.mainf-tab > div:nth-child(16) .league-matches{ border-left: 2px solid #dbd9d9;}
.mainf-tab > div:nth-child(16) .league-matches .block-title{ background: #dbd9d9  !important;color: #222222 !important;}
.mainf-tab > div:nth-child(17) .league-matches{ border-left: 2px solid #f037ff;}
.mainf-tab > div:nth-child(17) .league-matches .block-title{ background: #f037ff !important;}
.mainf-tab > div:nth-child(18) .league-matches{ border-left: 2px solid #33389c;}
.mainf-tab > div:nth-child(18) .league-matches .block-title{ background: #33389c !important;}
.mainf-tab > div:nth-child(19) .league-matches{ border-left: 2px solid #fbff00;}
.mainf-tab > div:nth-child(19) .league-matches .block-title{ background: #fbff00 !important;color: #222222 !important;}
.mainf-tab > div:nth-child(20) .league-matches{ border-left: 2px solid #33389c;}
.mainf-tab > div:nth-child(20) .league-matches .block-title{background: #33389c !important; }
.mainf-tab > div:nth-child(21) .league-matches{ border-left: 2px solid #d23600;}
.mainf-tab > div:nth-child(21) .league-matches .block-title{background: #d23600 !important;}
.mainf-tab > div:nth-child(22) .league-matches{ border-left: 2px solid #00853f;}
.mainf-tab > div:nth-child(22) .league-matches .block-title{background: #00853f !important;}
.mainf-tab > div:nth-child(23) .league-matches{ border-left: 2px solid #f7ff00;}
.mainf-tab > div:nth-child(23) .league-matches .block-title{background: #f7ff00 !important; color: #222222 !important;}
.mainf-tab > div:nth-child(24) .league-matches{ border-left: 2px solid #ff9437;}
.mainf-tab > div:nth-child(24) .league-matches .block-title{background: #ff9437 !important;}
.mainf-tab > div:nth-child(25) .league-matches{ border-left: 2px solid #00e72c;}
.mainf-tab > div:nth-child(25) .league-matches .block-title{background: #00e72c !important;color: #222222 !important;}
.mainf-tab > div:nth-child(26) .league-matches{ border-left: 2px solid #fec936;}
.mainf-tab > div:nth-child(26) .league-matches .block-title{background: #fec936 !important; color: #222222 !important;}
.mainf-tab > div:nth-child(27) .league-matches{ border-left: 2px solid #d23600;}
.mainf-tab > div:nth-child(27) .league-matches .block-title{ background: #d23600 !important;}
.mainf-tab > div:nth-child(28) .league-matches{ border-left: 2px solid #006633;}
.mainf-tab > div:nth-child(28) .league-matches .block-title{ background: #006633 !important;}
.mainf-tab > div:nth-child(29) .league-matches{ border-left: 2px solid #33389c;}
.mainf-tab > div:nth-child(29) .league-matches .block-title{ background: #33389c !important;}
.mainf-tab > div:nth-child(30) .league-matches{ border-left: 2px solid #f037ff;}
.mainf-tab > div:nth-child(30) .league-matches .block-title{ background: #f037ff !important;}
.mainf-tab > div:nth-child(31) .league-matches{ border-left: 2px solid #00853f;}
.mainf-tab > div:nth-child(31) .league-matches .block-title{background: #00853f !important;}
.mainf-tab > div:nth-child(32) .league-matches{ border-left: 2px solid #e21d25;}
.mainf-tab > div:nth-child(32) .league-matches .block-title{ background: #e21d25 !important;}
.mainf-tab > div:nth-child(33) .league-matches{ border-left: 2px solid #458cc1;}
.mainf-tab > div:nth-child(33) .league-matches .block-title{ background: #458cc1 !important;}
.mainf-tab > div:nth-child(34) .league-matches{ border-left: 2px solid #fec936;}
.mainf-tab > div:nth-child(34) .league-matches .block-title{ background: #fec936 !important;color: #222222 !important;}
.mainf-tab > div:nth-child(35) .league-matches{ border-left: 2px solid #d23600;}
.mainf-tab > div:nth-child(35) .league-matches .block-title{background: #d23600 !important;}
.mainf-tab > div:nth-child(36) .league-matches{ border-left: 2px solid #f7ff00;}
.mainf-tab > div:nth-child(36) .league-matches .block-title{background: #f7ff00 !important;color: #222222 !important;}
.mainf-tab > div:nth-child(37) .league-matches{ border-left: 2px solid #53d689;}
.mainf-tab > div:nth-child(37) .league-matches .block-title{background: #53d689 !important;}
.mainf-tab > div:nth-child(38) .league-matches{ border-left: 2px solid #7129cc;}
.mainf-tab > div:nth-child(38) .league-matches .block-title{ background: #7129cc !important;}
.mainf-tab > div:nth-child(39) .league-matches{ border-left: 2px solid #dbd9d9;}
.mainf-tab > div:nth-child(39) .league-matches .block-title{ background: #dbd9d9 !important;color: #222222 !important;}
.mainf-tab > div:nth-child(40) .league-matches{ border-left: 2px solid #fec936;}
.mainf-tab > div:nth-child(40) .league-matches .block-title{background: #fec936 !important; color: #222222 !important;}
.mainf-tab > div:nth-child(41) .league-matches{ border-left: 2px solid #f037ff;}
.mainf-tab > div:nth-child(41) .league-matches .block-title{ background: #f037ff !important;}
.mainf-tab > div:nth-child(42) .league-matches{ border-left: 2px solid #1dda5c;}
.mainf-tab > div:nth-child(42) .league-matches .block-title{ background: #1dda5c !important;}
.mainf-tab > div:nth-child(43) .league-matches{border-left: 3px solid #3755ff;}
.mainf-tab > div:nth-child(43) .league-matches .block-title{ background: #3755ff !important;}
.mainf-tab > div:nth-child(44) .league-matches{ border-left: 2px solid #ffac11;}
.mainf-tab > div:nth-child(44) .league-matches .block-title{ background: #ffac11 !important;}
.mainf-tab > div:nth-child(45) .league-matches{ border-left: 2px solid #c40202;}
.mainf-tab > div:nth-child(45) .league-matches .block-title{ background: #c40202 !important;}
.mainf-tab > div:nth-child(46) .league-matches{ border-left: 2px solid #ffed00;}
.mainf-tab > div:nth-child(46) .league-matches .block-title{ background: #ffed00 !important; color: #222222 !important;}
.mainf-tab > div:nth-child(47) .league-matches{ border-left: 2px solid #17b9fd;}
.mainf-tab > div:nth-child(47) .league-matches .block-title{ background: #17b9fd !important;}
.mainf-tab > div:nth-child(48) .league-matches{ border-left: 2px solid #00d70c;}
.mainf-tab > div:nth-child(48) .league-matches .block-title{ background: #00d70c !important;}
.mainf-tab > div:nth-child(49) .league-matches{ border-left: 2px solid #dbd9d9;}
.mainf-tab > div:nth-child(49) .league-matches .block-title{ background: #dbd9d9 !important;color: #222222 !important;}
.mainf-tab > div:nth-child(50) .league-matches{ border-left: 2px solid #37fcff;}
.mainf-tab > div:nth-child(50) .league-matches .block-title{ background: #37fcff !important; color: #222222 !important;}
.mainf-tab > div:nth-child(51) .league-matches{ border-left: 2px solid #ff0000;}
.mainf-tab > div:nth-child(51) .league-matches .block-title{ background: #ff0000 !important; }
.mainf-tab > div:nth-child(52) .league-matches{ border-left: 2px solid #1cbc11;}
.mainf-tab > div:nth-child(52) .league-matches .block-title{background: #1cbc11 !important;}
.mainf-tab > div:nth-child(53) .league-matches{ border-left: 2px solid #e21d25; }
.mainf-tab > div:nth-child(53) .league-matches .block-title{ background: #e21d25 !important;}
.mainf-tab > div:nth-child(54) .league-matches{ border-left: 2px solid #458cc1; }
.mainf-tab > div:nth-child(54) .league-matches .block-title{ background: #458cc1 !important;}
.mainf-tab > div:nth-child(55) .league-matches{ border-left: 2px solid #fec936;}
.mainf-tab > div:nth-child(55) .league-matches .block-title{ background: #fec936 !important; color: #222222 !important;}
.mainf-tab > div:nth-child(56) .league-matches{ border-left: 2px solid #006633;}
.mainf-tab > div:nth-child(56) .league-matches .block-title{ background: #006633 !important;}
.mainf-tab > div:nth-child(57) .league-matches{ border-left: 2px solid #d23600;}
.mainf-tab > div:nth-child(57) .league-matches .block-title{ background: #d23600 !important;}
.mainf-tab > div:nth-child(58) .league-matches{ border-left: 2px solid #53d689;}
.mainf-tab > div:nth-child(58) .league-matches .block-title{ background: #53d689 !important; color: #222222 !important;}
.mainf-tab > div:nth-child(59) .league-matches{ border-left: 2px solid #7129cc;}
.mainf-tab > div:nth-child(59) .league-matches .block-title{ background: #7129cc !important;}
.mainf-tab > div:nth-child(60) .league-matches{ border-left: 2px solid #f7ff00;}
.mainf-tab > div:nth-child(60) .league-matches .block-title{ background: #f7ff00 !important; color: #222222 !important;}
.mainf-tab > div:nth-child(61) .league-matches{ border-left: 2px solid #00e72c;}
.mainf-tab > div:nth-child(61) .league-matches .block-title{ background: #00e72c !important;}
.mainf-tab > div:nth-child(62) .league-matches{ border-left: 2px solid #00ced2;}
.mainf-tab > div:nth-child(62) .league-matches .block-title{ background: #00ced2 !important;}
.mainf-tab > div:nth-child(63) .league-matches{ border-left: 2px solid #fbff00;}
.mainf-tab > div:nth-child(63) .league-matches .block-title{ background: #fbff00 !important; color: #222222 !important;}
.mainf-tab > div:nth-child(64) .league-matches{ border-left: 2px solid #79aafc;}
.mainf-tab > div:nth-child(64) .league-matches .block-title{ background: #79aafc !important;}
.mainf-tab > div:nth-child(65) .league-matches{ border-left: 2px solid #ff9437;}
.mainf-tab > div:nth-child(65) .league-matches .block-title{ background: #ff9437 !important;}
.mainf-tab > div:nth-child(66) .league-matches{ border-left: 2px solid #dbd9d9;}
.mainf-tab > div:nth-child(66) .league-matches .block-title{ background: #dbd9d9 !important; color: #222222 !important;}
.mainf-tab > div:nth-child(67) .league-matches{ border-left: 2px solid #f037ff;}
.mainf-tab > div:nth-child(67) .league-matches .block-title{ background: #f037ff !important;}
.mainf-tab > div:nth-child(68) .league-matches{ border-left: 2px solid #33389c;}
.mainf-tab > div:nth-child(68) .league-matches .block-title{ background: #33389c !important;}
.mainf-tab > div:nth-child(69) .league-matches{ border-left: 2px solid #fbff00;}
.mainf-tab > div:nth-child(69) .league-matches .block-title{ background: #fbff00 !important; color: #222222 !important;}
.mainf-tab > div:nth-child(70) .league-matches{ border-left: 2px solid #33389c;}
.mainf-tab > div:nth-child(70) .league-matches .block-title{ background: #33389c !important;}
.mainf-tab > div:nth-child(71) .league-matches{ border-left: 2px solid #d23600;}
.mainf-tab > div:nth-child(71) .league-matches .block-title{ background: #d23600 !important;}
.mainf-tab > div:nth-child(72) .league-matches{ border-left: 2px solid #00853f;}
.mainf-tab > div:nth-child(72) .league-matches .block-title{ background: #00853f !important;}
.mainf-tab > div:nth-child(73) .league-matches{ border-left: 2px solid #f7ff00; }
.mainf-tab > div:nth-child(73) .league-matches .block-title{ background: #f7ff00 !important; color: #222222 !important;}
.mainf-tab > div:nth-child(74) .league-matches{ border-left: 2px solid #ff9437;}
.mainf-tab > div:nth-child(74) .league-matches .block-title{ background: #ff9437 !important;}
.mainf-tab > div:nth-child(75) .league-matches{ border-left: 2px solid #00e72c;}
.mainf-tab > div:nth-child(75) .league-matches .block-title{ background: #00e72c !important;}
.mainf-tab > div:nth-child(76) .league-matches{ border-left: 2px solid #fec936;}
.mainf-tab > div:nth-child(76) .league-matches .block-title{ background: #fec936 !important;}
.mainf-tab > div:nth-child(77) .league-matches{ border-left: 2px solid #d23600;}
.mainf-tab > div:nth-child(77) .league-matches .block-title{ background: #d23600 !important;}
.mainf-tab > div:nth-child(78) .league-matches{ border-left: 2px solid #006633;}
.mainf-tab > div:nth-child(78) .league-matches .block-title{ background: #006633 !important;}
.mainf-tab > div:nth-child(79) .league-matches{ border-left: 2px solid #33389c;}
.mainf-tab > div:nth-child(79) .league-matches .block-title{ background: #33389c !important;}
.mainf-tab > div:nth-child(80) .league-matches{ border-left: 2px solid #f037ff;}
.mainf-tab > div:nth-child(80) .league-matches .block-title{ background: #f037ff !important;}
.mainf-tab > div:nth-child(81) .league-matches{ border-left: 2px solid #00853f;}
.mainf-tab > div:nth-child(81) .league-matches .block-title{ background: #00853f !important;}
.mainf-tab > div:nth-child(82) .league-matches{ border-left: 2px solid #e21d25;}
.mainf-tab > div:nth-child(82) .league-matches .block-title{ background: #e21d25 !important;}
.mainf-tab > div:nth-child(83) .league-matches{ border-left: 2px solid #458cc1;}
.mainf-tab > div:nth-child(83) .league-matches .block-title{background: #458cc1 !important;}
.mainf-tab > div:nth-child(84) .league-matches{ border-left: 2px solid #fec936;}
.mainf-tab > div:nth-child(84) .league-matches .block-title{ background: #fec936 !important;}
.mainf-tab > div:nth-child(85) .league-matches{ border-left: 2px solid #d23600;}
.mainf-tab > div:nth-child(85) .league-matches .block-title{ background: #d23600 !important;}
.mainf-tab > div:nth-child(86) .league-matches{ border-left: 2px solid #f7ff00;}
.mainf-tab > div:nth-child(86) .league-matches .block-title{ background: #f7ff00 !important; color: #222222 !important;}
.mainf-tab > div:nth-child(87) .league-matches{ border-left: 2px solid #53d689;}
.mainf-tab > div:nth-child(87) .league-matches .block-title{ background: #53d689 !important; color: #222222 !important;}
.mainf-tab > div:nth-child(88) .league-matches{ border-left: 2px solid #7129cc;}
.mainf-tab > div:nth-child(88) .league-matches .block-title{ background: #7129cc !important;}
.mainf-tab > div:nth-child(89) .league-matches{ border-left: 2px solid #dbd9d9;}
.mainf-tab > div:nth-child(89) .league-matches .block-title{ background: #dbd9d9 !important; color: #222222 !important;}
.mainf-tab > div:nth-child(90) .league-matches{ border-left: 2px solid #fec936;}
.mainf-tab > div:nth-child(90) .league-matches .block-title{ background: #fec936 !important;}
.mainf-tab > div:nth-child(91) .league-matches{ border-left: 2px solid #f037ff;}
.mainf-tab > div:nth-child(91) .league-matches .block-title{ background: #f037ff !important;}
.mainf-tab > div:nth-child(92) .league-matches{ border-left: 2px solid #1dda5c;}
.mainf-tab > div:nth-child(92) .league-matches .block-title{ background: #1dda5c !important;}
.mainf-tab > div:nth-child(93) .league-matches{border-left: 3px solid #3755ff;}
.mainf-tab > div:nth-child(93) .league-matches .block-title{ background: #3755ff !important;}
.mainf-tab > div:nth-child(94) .league-matches{ border-left: 2px solid #ffac11;}
.mainf-tab > div:nth-child(94) .league-matches .block-title{ background: #ffac11 !important;}
.mainf-tab > div:nth-child(95) .league-matches{ border-left: 2px solid #c40202;}
.mainf-tab > div:nth-child(95) .league-matches .block-title{background: #c40202 !important;}
.mainf-tab > div:nth-child(96) .league-matches{ border-left: 2px solid #ffed00;}
.mainf-tab > div:nth-child(96) .league-matches .block-title{background: #ffed00 !important; color: #222222 !important;}
.mainf-tab > div:nth-child(97) .league-matches{ border-left: 2px solid #17b9fd;}
.mainf-tab > div:nth-child(97) .league-matches .block-title{background: #17b9fd !important;}
.mainf-tab > div:nth-child(98) .league-matches{ border-left: 2px solid #00d70c;}
.mainf-tab > div:nth-child(98) .league-matches .block-title{ background: #00d70c !important;}
.mainf-tab > div:nth-child(99) .league-matches{ border-left: 2px solid #dbd9d9;}
.mainf-tab > div:nth-child(99) .league-matches .block-title{ background: #dbd9d9 !important; color: #222222 !important;}
.mainf-tab > div:nth-child(100) .league-matches{ border-left: 2px solid #37fcff;}
.mainf-tab > div:nth-child(100) .league-matches .block-title{ background: #37fcff !important; color: #222222 !important;}
.mainf-tab > div:nth-child(101) .league-matches{ border-left: 2px solid #ff0000;}
.mainf-tab > div:nth-child(101) .league-matches .block-title{ background: #ff0000 !important;}
.mainf-tab > div:nth-child(102) .league-matches{ border-left: 2px solid #1cbc11;}
.mainf-tab > div:nth-child(102) .league-matches .block-title{ background: #1cbc11 !important;}
.mainf-tab > div:nth-child(103) .league-matches{ border-left: 2px solid #17b9fd;}
.mainf-tab > div:nth-child(103) .league-matches .block-title{background: #17b9fd !important;}
.mainf-tab > div:nth-child(104) .league-matches{ border-left: 2px solid #00d70c;}
.mainf-tab > div:nth-child(104) .league-matches .block-title{ background: #00d70c !important;}
.mainf-tab > div:nth-child(105) .league-matches{ border-left: 2px solid #dbd9d9;}
.mainf-tab > div:nth-child(105) .league-matches .block-title{ background: #dbd9d9 !important; color: #222222 !important;}
.mainf-tab > div:nth-child(106) .league-matches{ border-left: 2px solid #37fcff;}
.mainf-tab > div:nth-child(106) .league-matches .block-title{ background: #37fcff !important; color: #222222 !important;}
.mainf-tab > div:nth-child(107) .league-matches{ border-left: 2px solid #ff0000;}
.mainf-tab > div:nth-child(107) .league-matches .block-title{ background: #ff0000 !important;}
.mainf-tab > div:nth-child(108) .league-matches{ border-left: 2px solid #1cbc11;}
.mainf-tab > div:nth-child(108) .league-matches .block-title{ background: #1cbc11 !important;}

.league-matches .league-matches-item{
  color: #aaaaaa;
  border-bottom: 1px solid #1d1d23;
  background: #101010;
}
.league-matches .league-matches-item:hover{
  background: #000000;
}
.league-matches .league-matches-item:hover a{
  color: #ff1c1c;
}
.banner{
  display: block;
  margin: 20px 0px ;
}
.banner.f{ margin-top: 0px;}
.banner img{ display: block ; width: 100%; height: auto; }
.banner a{ display: block; margin-bottom: 5px; }
@media (max-width: 400px), (max-height: 550px) {
  
}
.card-clip{
  background: #222222 !important;
  padding: 5px;
  border-top: 1px solid #444444 !important;
  border-bottom: 1px solid #444444 !important;
}
.card-clip iframe{ display: block; overflow: hidden; border: 1px solid #444444;}
.card-clip .video_content{ background: transparent !important;}
.video_content{ background: #000000 !important;}
.iframe-clip{
  display: block;
  border-bottom: 3px solid #777777;
  margin-block: 40px;
}
.iframe-clip.no-border{
  border-bottom: 0px !important;
  margin-bottom: 0px;
}
.iframe-clip iframe{
  border: 3px solid #777777;
}
.table td, .table th{
  border-top: 0px;;
}
.border-bottom {
  border-bottom: 1px solid #444444 !important;
}
.table{ color: #dddddd; }
.table td{ background: #222222; border-bottom: 1px solid #444444;} 
.table td{ background: #111111; } 
.table thead th{ border-bottom: 2px solid #aaaaaa; } 
table caption.text-white{
  background: #8a0001 !important;
}
.footer-bottom{ background: #222222;}
.footer-bottom .container{ background: #222222;}
.card{
  background: #222222;
  border-radius: 0px;
  color: #eeeeee;
  border: 1px solid #444444 !important;
  margin-bottom: 20px;
}
.border-match{
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 1px solid #444444 !important !important;
}
.table-bordered td, .table-bordered th{
  border: 1px solid #444444;
}
.table-bordered td{
  background: #222222;
}
.table th{ background: #333333 !important; }
.banners{display: block; margin-bottom: 40px;}


.tab-standing{
  display: block;
  padding-top: 20px;
  margin-bottom: 20px;
}
.tab-standing ul, .Tabs_tabs__o0KxN{
  
}
.tab-standing ul li{
  
}
.tab-standing ul li.Tabs_current__SPNfw{
  background: #444444;
  color: #ffffff;
  
  border-bottom: 0px;
}
.tab-standing ul li img{
  margin-right: 0.4em;
}
.border{
  border: 1px solid #444444 !important
}
.bg-secondary{
  background: #222222 !important;
  color: #ffffff !important;
}

.breadcrumb-head{
  padding: 20px 15px !important;
  font-weight: bold;
  font-size: 1.5em;
}
.breadcrumb-box .breadcrumb{
  background: #333333;
}
.card.card-content{
  padding: 0px 15px !important;
}
.bg-dark{
  background: #333333 !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background: #a90000 !important;
  color: #ffffff !important;
}
.nav-pill-date{
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}
.nav-pill-date .nav-link{
  background: #222222;
  border-left: 1px solid #333333;
}
.score-mobile{
  padding: 10px;
  color: #eeeeee;
}